@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

@font-face {
  font-family: GT-Planar;
  src: url('../webfonts/GT-Planar/GT-Planar-Black-Trial.woff2') format('woff2');
}

@font-face {
  font-family: GT-Super;
  src: url('../webfonts/GT-Super-Text-Regular.woff2') format('woff2');
}


/* main styling */
body {
  opacity: 0;
  background-color: #f5f5f5;
  color: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* horizontal line */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* header styling */
#header {
  font-family: 'GT-Super', Helvetica, Arial, sans-serif;
  font-size: 23px;
  display: flex;
  align-items: flex-end;
}

#home {
  color: #999999;
  margin: 0;
  text-decoration: none;
}

#home:hover {
  color: #b16286;
  text-decoration: underline; /* Underline links on hover */
}

#header nav {
  margin: 0;
  margin-left: auto;
}

#header nav a {
  color: #b16286;
  text-decoration: none;
}

#header nav a:hover {
  text-decoration: underline; /* Underline links on hover */
}


/* body styling */
#body img {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: auto;
  order: 1;
}

#body {
  font-family: 'GT-Planar', Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 21px;
}


/* footer styling */
#footer .icons {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

#footer .icons li {
  margin-right: 15px;
}

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
  transition: transform 0.3s, color 0.3s;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon.brands {
  font-family: 'Font Awesome 5 Brands';
}

.icon:hover {
  color: #b16286;
  transform: scale(1.2);
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon {
  font-size: 25px;
}

ul.icons li a {
  color: inherit;
}


/* mobile optimization */
@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1rem 0;
        max-width: 90%; 
    }

    #header {
        font-size: 18px; 
    }

    #header nav {
        font-size: 16px; 
        margin: 0;
        margin-left: auto;
    }

    #body img {
        max-width: 100%;
        height: auto;
    }

    #body {
        font-size: 12px;
    }

    ul.icons li .icon {
        font-size: 17px;
    }
}
